.roadmap {
    ul {
        li {
            display: inline-block;
            svg {
                font-size: 36px;
                width: 50px;
                @media only screen and (max-width: 600px) {
                    font-size: 28px;
                    width: 30px;
                }
                color: #007CBC;
                float: left;
                margin-top: 6px;
            }
            p {
                float: right;
                width: calc(100% - 50px);
                @media only screen and (max-width: 600px) {
                    width: calc(100% - 30px);
                }
                color: #007CBC;
                padding-left: 10px;
            }
        }
    }
    &.desktop {
        display: block;
        @media only screen and (max-width: 600px) {
            display: none;
        }
        .roadmap-item {
            padding-bottom: 70px;
            padding-left: 150px;
            position: relative;
            @media only screen and (max-width: 600px) {
                padding-left: 100px;
                padding-bottom: 130px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 76px;
                height: 90px;
                border-radius: 50%;
                background: white;
                left: 0;
                top: 0;
            }
            &:after {
                content: '';
                position: absolute;
                left: 35px;
                top: 70px;
                height: 100%;
                width: 10px;
                background: white;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            .roadmap-item-image {
                position: absolute;
                bottom: -65px;
                right: 100px;
                @media only screen and (max-width: 600px) {
                    right: 0px;
                    bottom: 45px;
                }
                img {
                    @media only screen and (max-width: 600px) {
                        width: 100px;
                    }
                    width: 150px;
                }
            }
        }
    }
    &.mobile {
        display: none;
        @media only screen and (max-width: 600px) {
            display: block;
        }
        .Collapsible {
            //The content within the collaspable area
            .Collapsible__contentInner {
                padding: 10px;
                border-top: 0;
                p {
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 20px;
                
                    &:last-child {
                    margin-bottom: 0;
                    }
                }
                
            }
            
            //The link which when clicked opens the collapsable area
            .Collapsible__trigger {
                display: block;
                font-weight: 400;
                font-size: 24px;
                text-decoration: none;
                position: relative;
                padding: 10px;
                color: white;
                &:after {
                    font-family: 'FontAwesome';
                    content: '\f107';
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    display: block;
                    transition: transform 300ms;
                }
                
                &.is-open {
                    &:after {
                        transform: rotateZ(180deg);
                    }
                }
                
                &.is-disabled {
                    opacity: 0.5;
                    background-color: grey;
                }
            }
            
            .CustomTriggerCSS {
                background-color: lightcoral;
                transition: background-color 200ms ease;
            }
            
            
            .Collapsible__custom-sibling {
                padding: 5px;
                font-size: 12px;
                background-color: #CBB700;
            }
        }
    }
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.slide-pane__overlay {
    z-index: 9999;
    .slide-pane__content {
        background-color: #007CBC;
    }
}

.faq {
    .Collapsible {
        border: 2px solid white;
        border-radius: 40px;
        padding: 0 15px;
        //The content within the collaspable area
        .Collapsible__contentInner {
            padding: 10px;
            border-top: 0;
            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                }
            }
            
        }
        
        //The link which when clicked opens the collapsable area
        .Collapsible__trigger {
            display: block;
            font-weight: 900;
            font-size: 24px;
            text-decoration: none;
            position: relative;
            padding: 10px;
            color: white;
            @media only screen and (max-width: 600px) {
                font-size: 18px;
            }
            &:after {
                font-family: 'FontAwesome';
                content: '\f107';
                position: absolute;
                right: 10px;
                top: 10px;
                display: block;
                transition: transform 300ms;
            }
            
            &.is-open {
                &:after {
                    transform: rotateZ(180deg);
                }
            }
            
            &.is-disabled {
                opacity: 0.5;
                background-color: grey;
            }
        }
        
        .CustomTriggerCSS {
            background-color: lightcoral;
            transition: background-color 200ms ease;
        }
        
        
        .Collapsible__custom-sibling {
            padding: 5px;
            font-size: 12px;
            background-color: #CBB700;
        }
    }
}